* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}


@media (min-width: 1025px) {
    .gallery {
      padding: 0 0 4rem 0;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 7rem;
    }

    .column {
        flex: 1;
        min-width: calc(25% - 1rem); /* Each image will take up 25% of the container width minus the gap. */
    }

    .img-container {
        position: relative;
        width: 100%;
        padding-bottom: 100%; /* Maintain a square aspect ratio */
        overflow: hidden;
        border: 1px solid #ccc; /* This draws the separating lines between the images */
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

  
@media (min-width: 835px) and (max-width: 1024px) {
    .img-container {
        height: 400px;  // reducing the height slightly for tablets
    }

    .image-text {
        margin-top: 6rem;
        margin-bottom: 1.5rem;
    }

    img {
        height: 400px;  // match the container height
    }
}
  
@media (min-width: 770px) and (max-width: 834px) {
    .img-container {
        height: 350px;  // further reduction for small tablets
    }

    .image-text {
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    img {
        height: 350px;  // match the container height
    }
}
  
@media (min-width: 577px) and (max-width: 769px) {
    .img-container {
        height: 300px;  // optimized for big phones
    }

    .image-text {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    img {
        height: 300px;  // match the container height
    }
}

@media (max-width: 576px) {
    img:hover {
        transform: none;
    }
    
    .img-container {
        height: 250px;  // optimized for mobile view
        &:hover .img-content-hover {
            display: none;
        }
    }

    .image-text {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    img {
        height: 250px;  // match the container height
    }

    .img-content {
        display: block;
        padding: 0.5rem 0;
    }
}
