* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

@media (min-width: 360px) and (max-width: 490px) {

    main {
        img {
            display: flex;
            width: 100%;
            z-index: 1;
        }
    
        h1 {
            display: flex;
            width: 100%;
            font-size: 2.5rem;
            top: 6rem;
            color: white;
            justify-content: center;
            position: absolute;
            z-index: 1;
            font-weight: 700;
        }

        .ptag {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 15rem;
            font-size: 1rem;
            z-index: 1;
        }

        .ptag-short {
            display: flex;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
            position: absolute;
            color: white;
            top: 10rem;
            font-size: 0.8rem;
          }

        section {
            background-image: 
                url(../src/svg/1.png),
                url(../src/svg/2.png);
                // url(../src/svg/3.png);

            background-position: 
                left center, 
                right center, 
                top center;
            background-size: 3rem, 3rem, 2.5rem;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
            // padding-top: 1rem;
            height: 10rem;
            margin-top: 2rem;
            margin-bottom: 12rem;
            text-align: center;
            font-size: 1rem;
            color: black;

            h2 {
                margin-top: 27rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1%;
                font-size: 1.3rem;
                padding-left: 12%;
                padding-right: 12%;
            }
        }

        button {
            color: black;
            display: flex;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 1.7rem;
            margin-left: 2rem;
            //margin-bottom: 1rem;
        }
    }

    .social {   
        height: 8rem;
        z-index: 1;
        position: relative;

        ul {
            position: relative;
            top: 130%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style: none;

                a {
                    display: block;
                    position: relative;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 15px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    margin: 0 8px;
                    transition: .5s;

                    span {
                        position: absolute;
                        transition: transform .5s;

                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 100%;
                            height: 3px;
                            background: white;
                        }

                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                            transform-origin: right;
                        }

                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                            transform-origin: left;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 3px;
                            height: 100%;
                            background: #404040;
                        }

                        &:nth-child(2) {
                            top: 0;
                            left: 0;
                            transform: scale(0);
                            transform-origin: bottom;
                        }

                        &:nth-child(4) {
                            top: 0;
                            right: 0;
                            transform: scale(0);
                            transform-origin: top;
                        }
                    }

                    &:hover {
                        span {
                            &:nth-child(1) {
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:nth-child(3) {
                                transform: scaleX(0);
                                transform-origin: right;
                            }

                            &:nth-child(2) {
                                transform: scale(1);
                                transform-origin: top;
                            }

                            &:nth-child(4) {
                                transform: scale(1);
                                transform-origin: bottom;
                            }
                        }
                    }
                }

                .facebook:hover {
                    color: #3b5998;

                    span { 
                        background: #3b5998;
                    }
                }

                .instagram:hover {
                    color: #c32aa3;

                    span { 
                        background: #c32aa3;
                    }
                }

                .linkedin:hover {
                    color: #0077b5;

                    span { 
                        background: #0077b5;
                    }
                }
            }
        }          
    }

    .spacer1 {
        width: 100%;
        height: 18rem;
        display: flex;
        position: relative;
    }
}

@media (min-width: 491px) and (max-width: 576px){

    main {
        img {
            display: flex;
            width: 100%;
            z-index: 1;
        }
    
        h1 {
            display: flex;
            width: 100%;
            font-size: 3rem;
            top: 6rem;
            color: white;
            justify-content: center;
            position: absolute;
            z-index: 1;
            font-weight: 700;
        }

        .ptag {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 15rem;
            font-size: 1rem;
            z-index: 1;
        }

        .ptag-short {
            display: flex;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
            position: absolute;
            color: white;
            top: 12rem;
            font-size: 1rem;
          }

        section {
            background-image: 
                url(../src/svg/1.png),
                url(../src/svg/2.png),
                url(../src/svg/3.png);

            background-position: 
                left center, 
                right center, 
                top center;
            background-size: 5rem, 5rem, 2.5rem;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 12%;
            height: 10rem;
            margin-top: 2rem;
            margin-bottom: 8rem;
            text-align: center;
            font-size: 1rem;
            color: black;

            h2 {
                margin-top: 17rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1%;
                font-size: 1.3rem;
                padding-left: 15%;
                padding-right: 15%;
            }
        }

        button {
            color: black;
            display: flex;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 2rem;
            margin-left: 2rem;
            //margin-bottom: 1rem;
        }
    }

    .social {   
        height: 8rem;
        z-index: 1;
        position: relative;

        ul {
            position: relative;
            top: 130%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style: none;

                a {
                    display: block;
                    position: relative;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 15px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    margin: 0 20px;
                    transition: .5s;

                    span {
                        position: absolute;
                        transition: transform .5s;

                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 100%;
                            height: 3px;
                            background: white;
                        }

                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                            transform-origin: right;
                        }

                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                            transform-origin: left;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 3px;
                            height: 100%;
                            background: #404040;
                        }

                        &:nth-child(2) {
                            top: 0;
                            left: 0;
                            transform: scale(0);
                            transform-origin: bottom;
                        }

                        &:nth-child(4) {
                            top: 0;
                            right: 0;
                            transform: scale(0);
                            transform-origin: top;
                        }
                    }

                    &:hover {
                        span {
                            &:nth-child(1) {
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:nth-child(3) {
                                transform: scaleX(0);
                                transform-origin: right;
                            }

                            &:nth-child(2) {
                                transform: scale(1);
                                transform-origin: top;
                            }

                            &:nth-child(4) {
                                transform: scale(1);
                                transform-origin: bottom;
                            }
                        }
                    }
                }

                .facebook:hover {
                    color: #3b5998;

                    span { 
                        background: #3b5998;
                    }
                }

                .instagram:hover {
                    color: #c32aa3;

                    span { 
                        background: #c32aa3;
                    }
                }

                .linkedin:hover {
                    color: #0077b5;

                    span { 
                        background: #0077b5;
                    }
                }
            }
        }          
    }

    .spacer1 {
        width: 100%;
        height: 13rem;
        display: flex;
        position: relative;
    }
}
    
@media (min-width: 577px) and (max-width: 769px) {
    main {
        img {
            display: flex;
            width: 100%;
            z-index: 1;
        }
    
        h1 {
            display: flex;
            width: 100%;
            font-size: 3.9rem;
            top: 8rem;
            color: white;
            justify-content: center;
            position: absolute;
            z-index: 1;
            font-weight: 700;
        }

        .ptag {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 13rem;
            font-size: 1rem;
            z-index: 1;
        }

        .ptag-short {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 17rem;
            font-size: 1rem;
          }

        section {
            background-image: 
                url(../src/svg/1.png),
                url(../src/svg/2.png),
                url(../src/svg/3.png);

            background-position: 
                left center, 
                right center, 
                top center;
            background-size: 7rem, 7rem, 2.5rem;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 30%;
            height: 10rem;
            margin-top: 3rem;
            margin-bottom: 15rem;
            text-align: center;
            font-size: 1rem;
            color: black;

            h2 {
                margin-top: 10rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1%;
                font-size: 1.3rem;
                padding-left: 10%;
                padding-right: 10%;
            }
        }

        button {
            color: black;
            display: flex;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 2.5rem;
            margin-left: 2rem;
            //margin-bottom: 1rem;
        }
    }

    .social {   
        height: 8rem;
        z-index: 1;
        position: relative;

        ul {
            position: relative;
            top: 130%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style: none;

                a {
                    display: block;
                    position: relative;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 15px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    margin: 0 30px;
                    transition: .5s;

                    span {
                        position: absolute;
                        transition: transform .5s;

                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 100%;
                            height: 3px;
                            background: white;
                        }

                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                            transform-origin: right;
                        }

                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                            transform-origin: left;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 3px;
                            height: 100%;
                            background: #404040;
                        }

                        &:nth-child(2) {
                            top: 0;
                            left: 0;
                            transform: scale(0);
                            transform-origin: bottom;
                        }

                        &:nth-child(4) {
                            top: 0;
                            right: 0;
                            transform: scale(0);
                            transform-origin: top;
                        }
                    }

                    &:hover {
                        span {
                            &:nth-child(1) {
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:nth-child(3) {
                                transform: scaleX(0);
                                transform-origin: right;
                            }

                            &:nth-child(2) {
                                transform: scale(1);
                                transform-origin: top;
                            }

                            &:nth-child(4) {
                                transform: scale(1);
                                transform-origin: bottom;
                            }
                        }
                    }
                }

                .facebook:hover {
                    color: #3b5998;

                    span { 
                        background: #3b5998;
                    }
                }

                .instagram:hover {
                    color: #c32aa3;

                    span { 
                        background: #c32aa3;
                    }
                }

                .linkedin:hover {
                    color: #0077b5;

                    span { 
                        background: #0077b5;
                    }
                }
            }
        }          
    }

    .spacer1 {
        width: 100%;
        height: 7rem;
        display: flex;
        position: relative;
    }
}

@media (min-width: 770px) and (max-width: 834px) {
    main {
        img {
            display: flex;
            width: 100%;
            z-index: 1;
        }
    
        h1 {
            display: flex;
            width: 100%;
            font-size: 5rem;
            top: 10rem;
            color: white;
            justify-content: center;
            position: absolute;
            z-index: 1;
            font-weight: 700;
        }

        .ptag {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 20rem;
            font-size: 1rem;
        }

        section {
            background-image: 
                url(../src/svg/1.png),
                url(../src/svg/2.png),
                url(../src/svg/3.png);

            background-position: 
                left center, 
                right center, 
                top center;
            background-size: 7rem, 7rem, 2.5rem;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 5.5%;
            height: 10rem;
            margin-top: 2rem;
            margin-bottom: 12rem;
            text-align: center;
            font-size: 1rem;
            color: black;

            h2 {
                margin-top: 5.5rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1%;
                font-size: 1.1rem;
                padding-left: 7%;
                padding-right: 7%;
            }
        }

        button {
            color: black;
            display: flex;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 2.5rem;
            margin-left: 2rem;
            //margin-bottom: 1rem;
        }
    }

    .social {   
        height: 8rem;
        z-index: 1;
        position: relative;

        ul {
            position: relative;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style: none;

                a {
                    display: block;
                    position: relative;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    margin: 0 30px;
                    transition: .5s;

                    span {
                        position: absolute;
                        transition: transform .5s;

                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 100%;
                            height: 3px;
                            background: white;
                        }

                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                            transform-origin: right;
                        }

                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                            transform-origin: left;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 3px;
                            height: 100%;
                            background: #404040;
                        }

                        &:nth-child(2) {
                            top: 0;
                            left: 0;
                            transform: scale(0);
                            transform-origin: bottom;
                        }

                        &:nth-child(4) {
                            top: 0;
                            right: 0;
                            transform: scale(0);
                            transform-origin: top;
                        }
                    }

                    &:hover {
                        span {
                            &:nth-child(1) {
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:nth-child(3) {
                                transform: scaleX(0);
                                transform-origin: right;
                            }

                            &:nth-child(2) {
                                transform: scale(1);
                                transform-origin: top;
                            }

                            &:nth-child(4) {
                                transform: scale(1);
                                transform-origin: bottom;
                            }
                        }
                    }
                }

                .facebook:hover {
                    color: #3b5998;

                    span { 
                        background: #3b5998;
                    }
                }

                .instagram:hover {
                    color: #c32aa3;

                    span { 
                        background: #c32aa3;
                    }
                }

                .linkedin:hover {
                    color: #0077b5;

                    span { 
                        background: #0077b5;
                    }
                }
            }
        }          
    }
}

@media (min-width: 835px) and (max-width: 1024px) {
    main {
        img {
            display: flex;
            width: 100%;
            z-index: 1;
        }
    
        h1 {
            display: flex;
            width: 100%;
            font-size: 5rem;
            top: 10rem;
            color: white;
            justify-content: center;
            position: absolute;
            z-index: 1;
            font-weight: 700;
        }

        .ptag {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 20rem;
            font-size: 1.3rem;
        }

        section {
            background-image: 
                url(../src/svg/1.png),
                url(../src/svg/2.png),
                url(../src/svg/3.png);

            background-position: 
                left center, 
                right center, 
                top center;
            background-size: 7rem, 7rem, 2.5rem;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 2.5%;
            height: 10rem;
            margin-top: 2rem;
            margin-bottom: 8rem;
            text-align: center;
            font-size: 1rem;
            color: black;

            h2 {
                margin-top: 3.5rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1%;
                font-size: 0.9rem;
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        button {
            color: black;
            display: flex;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 2.5rem;
            margin-left: 2rem;
            //margin-bottom: 1rem;
        }
    }

    .social {   
        height: 8rem;
        z-index: 1;
        position: relative;

        ul {
            position: relative;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style: none;

                a {
                    display: block;
                    position: relative;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    font-size: 30px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    margin: 0 30px;
                    transition: .5s;

                    span {
                        position: absolute;
                        transition: transform .5s;

                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 100%;
                            height: 3px;
                            background: white;
                        }

                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                            transform-origin: right;
                        }

                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                            transform-origin: left;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 3px;
                            height: 100%;
                            background: #404040;
                        }

                        &:nth-child(2) {
                            top: 0;
                            left: 0;
                            transform: scale(0);
                            transform-origin: bottom;
                        }

                        &:nth-child(4) {
                            top: 0;
                            right: 0;
                            transform: scale(0);
                            transform-origin: top;
                        }
                    }

                    &:hover {
                        span {
                            &:nth-child(1) {
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:nth-child(3) {
                                transform: scaleX(0);
                                transform-origin: right;
                            }

                            &:nth-child(2) {
                                transform: scale(1);
                                transform-origin: top;
                            }

                            &:nth-child(4) {
                                transform: scale(1);
                                transform-origin: bottom;
                            }
                        }
                    }
                }

                .facebook:hover {
                    color: #3b5998;

                    span { 
                        background: #3b5998;
                    }
                }

                .instagram:hover {
                    color: #c32aa3;

                    span { 
                        background: #c32aa3;
                    }
                }

                .linkedin:hover {
                    color: #0077b5;

                    span { 
                        background: #0077b5;
                    }
                }
            }
        }          
    }
}

@media (min-width: 1025px) {
    main {
        img {
            display: flex;
            width: 100%;
            z-index: 1;
        }
    
        h1 {
            display: flex;
            width: 100%;
            font-size: 7rem;
            top: 10rem;
            color: white;
            justify-content: center;
            position: absolute;
            z-index: 1;
            font-weight: 700;
        }

        .ptag {
            display: flex;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            position: absolute;
            color: white;
            top: 23rem;
            font-size: 1.5rem;
        }

        section {
            background-image: 
                url(../src/svg/1.png),
                url(../src/svg/2.png);
                // url(../src/svg/3.png)

            background-position: 
                left center, 
                right center, 
                top center;
            background-size: 7rem, 7rem, 2.5rem;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 2.5%;
            height: 10rem;
            margin-top: 2rem;
            margin-bottom: 8rem;
            text-align: center;
            font-size: 1rem;
            color: black;

            h2 {
                margin-top: 2.5rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1%;
                font-size: 1.1rem;
            }
        }

        button {
            color: black;
            display: flex;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 2.5rem;
            margin-left: 2rem;
            //margin-bottom: 1rem;
        }
    }

    .social {   
      ul {
            position: relative;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            display: flex;
        

            li {
                list-style: none;
            
                a {
                    display: block;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    font-size: 50px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    margin: 0 30px;
                    transition: .5s;
                
                span {
                    position: absolute;
                    transition: transform .5s;
            
                    &:nth-child(1),
                    &:nth-child(3) {
                        width: 100%;
                        height: 3px;
                        background: white;
                    }
            
                    &:nth-child(1) {
                        top: 0;
                        left: 0;
                        transform-origin: right;
                    }
            
                    &:nth-child(3) {
                        bottom: 0;
                        left: 0;
                        transform-origin: left;
                    }
            
                    &:nth-child(2),
                    &:nth-child(4) {
                        width: 3px;
                        height: 100%;
                        background: #404040;
                    }
            
                    &:nth-child(2) {
                        top: 0;
                        left: 0;
                        transform: scale(0);
                        transform-origin: bottom;
                    }
            
                    &:nth-child(4) {
                        top: 0;
                        right: 0;
                        transform: scale(0);
                        transform-origin: top;
                    }
                }
                
                    &:hover {
                        span {
                            &:nth-child(1) {
                                transform: scaleX(0);
                                transform-origin: left;
                            }
                    
                            &:nth-child(3) {
                                transform: scaleX(0);
                                transform-origin: right;
                            }
                    
                            &:nth-child(2) {
                                transform: scale(1);
                                transform-origin: top;
                            }
                    
                            &:nth-child(4) {
                                transform: scale(1);
                                transform-origin: bottom;
                            }
                        }
                    }
                }
            
                .facebook:hover {
                    color: #3b5998;
                
                    span { 
                        background: #3b5998;
                    }
                }
            
                .instagram:hover {
                    color: #c32aa3;
                
                    span { 
                        background: #c32aa3;
                    }
                }
            
                .linkedin:hover {
                    color: #0077b5;
                
                    span { 
                        background: #0077b5;
                    }
                }
            }
        }      height: 8rem;
        z-index: 1;
        position: relative;          
    }
}

@import url(./mainEvent.css);