// @import url(./css/computer.css);
@import url(./css/desktop.css);
// @import url(./css/Evenemang.css);
// @import url(./css/gallerie.css);
// @import url(./css/kontakt.css);
@import url(./css/mobilemed.css);
// @import url(./css/omoss.css);
@import url(./css/tablet.css);

@media (max-width: 576px){

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: scroll;
}

header {
  width: 100%;
  height: 4rem;
  background-color: #25282ef9;
  position: fixed;
  z-index: 2;

  img {
    display: flex;
    width: 2.2rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-icon {
    display: flex;
    cursor: pointer;
    font-size: 2.5em;
    display: flex;
    position: absolute;
    top: 0.1rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }

  input[type=checkbox] {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin-top: 20rem;
    background-color: #333333e8;
    z-index: 1;

    li {
      a {
        color: white;
        text-decoration: none;
        text-align: center;
        margin: 0.2rem;
        padding: 1em;
        font-family: 'Jost', sans-serif;
        font-size: 1rem;
        display: block;
      }
    }
  }

  input[type=checkbox]:checked ~ ul {
    display: flex;
  }
}

.ptag {
  display: flex;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  position: absolute;
  color: white;
  top: 8rem;
  font-size: 1rem;
  z-index: 1;
}

.ptag-short {
  display: flex;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  position: absolute;
  color: white;
  top: 8rem;
  font-size: 0.5rem;
  z-index: 1;
}
  
main {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 5.5rem;

  img {
    width: 100%;
    display: flex;
    z-index: 1;
  }

  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 5rem;
    color: white;
    z-index: 1;
  }

  section {
    background-image: 
    url(../src/svg/1.png),
    url(../src/svg/2.png);
    // url(../src/svg/3.png);

    background-position: 
    left center, 
    right center, 
    top center;
    background-size: 5rem, 5rem, 2rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;  
    padding-top: 2%;
    height: 13rem;
    margin-top: 0rem;
    font-size: 0.7rem;
    text-align: center;
    color: black;
    text-align: left;
  }

  @media (min-height: 600px) { 
    section {
      margin-bottom: 2rem;
    }
  }

  @media (min-height: 670px) { 
    section {
      margin-bottom: 2rem;
    }
  }

  @media (min-height: 730px) { 
    section {
      margin-bottom: 2rem;
    }
  }

  @media (min-height: 810px) { 
    section {
      margin-bottom: 2rem;
    }
  }
    
  button {
    color: black;
    width: 45%;
    display: flex;
    border: none;
    justify-content: center;
    background-color: transparent;
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  .container {
    width: 90%;
    height: 3.5rem;
    display: flex;
    background: rgba(177, 168, 168, 0.22);
    border-radius: 16px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.57);
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-left: 5%;
        

  .kort {
      width: 3rem;
      height: 2.95rem;
      display: flex;
      margin-top: 0.25rem;
      margin-left: 0.25rem;
      z-index: 1;
      border-radius: 10px;
      box-shadow: 0 16px 60px rgba(0, 0, 0, 0.1);
    }

    .text {
      margin-left: 3.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h4 {
      margin-bottom: 0.3rem;
    }

    p {         
      font-size: 0.5rem;
      font-weight: bold;
      width: 80%;
    }
  }
}

footer {
  width: 100%;
  height: 5.2rem;
  background-color: #25282ee4;
  position: relative;
  // bottom: 0%;
  // left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;

  img {
    width: 3rem;
    height: 5rem;
    margin-bottom: 0.1rem;
  }

  p {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 0.6rem;
  }

  .social-icons {
    position: absolute;
    top: 40%;
    left: 1%;
    display: flex;
    justify-content: space-between;

  a {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }

  a:last-child {
    margin-right: 0;
  }

  a:hover {
    color: #E4405F;
  }
} 
}


@font-face {
  font-family: Jost;
  src: url(./Jost/static/Jost-ExtraLight.ttf);
}
}